<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="org.promact.avocarrot"
        version="0.1.0">  <!-- We get the folder structure from here -->
    <name>Calendar</name>
    <description>Sample PhoneGap Calendar Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,calendar</keywords>


    <js-module src="www/avocarrot.js" name="avocarrot">
        <clobbers target="window.avocarrot" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="avocarrot">
                <param name="android-package" value="org.promact.avocarrot.avocarrotplugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/avocarrot.java" target-dir="src/org/promact/avocarrot" />
    </platform>
</plugin>